<!DOCTYPE html>
<html>
<head>
  <title>Gachalization</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= bootstrap_flash %>
<% if user_signed_in? %>
<div class="container">
<div class="row">
<div class="col-md-8">
<%= yield %>
</div>
<div class="col-md-4">
<% if @player %>
<%= render partial: "shared/sidebar" %>
<% end %>
</div>
</div>
</div>
<% else %>

<%= yield %>

<% end %>
</body>
</html>
